In [3]:
from env import host, user, password

In [10]:
from pydataset import data

In [13]:
url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [14]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [58]:
import pandas as pd
import numpy as np
from datetime import date

In [7]:
def get_db_url(user, host, password, database):
    
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [8]:
url2 = get_db_url(user, host, password, 'employees')

In [23]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url2)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

In [9]:
# NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:msql.pymysql
# used typo mysql --> mysql
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url2)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

b. Intentionally make an error in your SQL query. What does the error message look like?

In [10]:
pd.read_sql('SELECT * FROM employe LIMIT 5 OFFSET 50', url2)
# ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employe' doesn't exist")

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employe' doesn't exist")
[SQL: SELECT * FROM employe LIMIT 5 OFFSET 50]
(Background on this error at: https://sqlalche.me/e/14/f405)

Read the employees and titles tables into two separate DataFrames.

In [12]:
url_emp = get_db_url(user, host, password, 'employees')

In [17]:
sql_tbl_emp = '''
SELECT *
FROM employees
'''

employees = pd.read_sql(sql_tbl_emp, url_emp)

In [18]:
employees.head(5)

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [19]:
sql_tbl_title = '''
SELECT *
FROM titles
'''

titles = pd.read_sql(sql_tbl_title, url_emp)

In [20]:
titles.head(5)

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [22]:
employees.info() # 300024 rows, 6 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [23]:
titles.info() # 443308 rows, 4 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

Display the summary statistics for each DataFrame.

In [26]:
employees.describe(), titles.describe()

(              emp_no
 count  300024.000000
 mean   253321.763392
 std    161828.235540
 min     10001.000000
 25%     85006.750000
 50%    249987.500000
 75%    424993.250000
 max    499999.000000,
               emp_no
 count  443308.000000
 mean   253075.034430
 std    161853.292613
 min     10001.000000
 25%     84855.750000
 50%    249847.500000
 75%    424891.250000
 max    499999.000000)

How many unique titles are in the titles DataFrame? 7

In [32]:
titles['title'].unique().size

7

What is the oldest date in the to_date column?

In [55]:
titles['to_date'].min()

datetime.date

What is the most recent date in the to_date column? 2002-08-01

In [76]:
titles[titles['to_date'] < date(9999, 1, 1)].max()

emp_no                 499998
title        Technique Leader
from_date          2002-06-30
to_date            2002-08-01
dtype: object