## Python + Pandas Assessment Review

#### We will be working with the following information defined in the cell below.

In [2]:
students = [
    {'exam_score': 67.5743737055, 'hours_studied': 8.4786921255, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 59.0983982874, 'hours_studied': 5.7737531404, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6},
    {'exam_score': 40.2353236205, 'hours_studied': 4.2802273056, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 6,  'hours_slept': 5},
    {'exam_score': 68.5728466901, 'hours_studied': 8.2049689336, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 78.8909132563, 'hours_studied': 8.8873825943, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 99.6285927929, 'hours_studied': 5.8875768158, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 71.5376019923, 'hours_studied': 8.6755289037, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 91.209319196,  'hours_studied': 7.7949349686, 'used_flashcards': True,  'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 95.637085652,  'hours_studied': 9.6774379788, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 1,  'hours_slept': 10},
    {'exam_score': 7.3505796632,  'hours_studied': 1.8010865962, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 10, 'hours_slept': 1},
    {'exam_score': 100.0,         'hours_studied': 9.1262910299, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 0,  'hours_slept': 11},
    {'exam_score': 73.1646225026, 'hours_studied': 5.8875512702, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 3,  'hours_slept': 8},
    {'exam_score': 1.697188914,   'hours_studied': 0.8023294541, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 10, 'hours_slept': 1},
    {'exam_score': 48.3173646693, 'hours_studied': 3.6138789305, 'used_flashcards': False, 'handedness': 'left',  'coffee_consumed': 6,  'hours_slept': 5},
    {'exam_score': 57.0423484485, 'hours_studied': 5.9414471409, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6},
    {'exam_score': 65.7118765165, 'hours_studied': 4.6605301,    'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 63.934268264,  'hours_studied': 6.4878477492, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 4,  'hours_slept': 7},
    {'exam_score': 100.0,         'hours_studied': 8.1237310876, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 0,  'hours_slept': 11},
    {'exam_score': 35.7436570401, 'hours_studied': 3.1974628076, 'used_flashcards': False, 'handedness': 'right', 'coffee_consumed': 7,  'hours_slept': 4},
    {'exam_score': 53.2002957528, 'hours_studied': 4.5502066553, 'used_flashcards': True,  'handedness': 'right', 'coffee_consumed': 5,  'hours_slept': 6}
]

# Phase 1: Python *without* Pandas.  Do the following without Pandas.

#### 1. Examine students.
 -  What data type is students? Use Python to verify.
 -  Describe the contents of the variable students.  How do you know this? Do you feel this is a useful data format? Why or Why Not?

In [3]:
type(students)

list

In [4]:
[type(item) for item in students]

[dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict,
 dict]

In [5]:
# Write your response here:
'''
Students is a list of dictionaries where each dictionary has a set of equivalent attribute. I ran a for loop over the contents of students in order to verify data type. This is useful because it confirmed a certain type of uniformity between list members. I visually inspected the list to verify each dictionary had similar keys.
This format is useful because it allows for some sort of comparison or tabulation. 
'''

'\nStudents is a list of dictionaries where each dictionary has a set of equivalent attribute. I ran a for loop over the contents of students in order to verify data type. This is useful because it confirmed a certain type of uniformity between list members. I visually inspected the list to verify each dictionary had similar keys.\nThis format is useful because it allows for some sort of comparison or tabulation. \n'

-  Write a function called `get_max_hours_studied` that takes in a list of dictionaries like students and returns the value of the maximum hours studied within the data set

In [6]:
#create function skeleton
#create for loop to iterate over the list
#create comparison check. need variable for initial comparison. replace with greater value during loops
#return max value

In [7]:
# write your function in this cell.

def get_max_hours_studied (dict_to_check):
    """
    """
    max_study_hours = 0
    for person in dict_to_check:
        if person['hours_studied'] > max_study_hours:
            max_study_hours = person['hours_studied']
    return max_study_hours

In [8]:
assert(round(get_max_hours_studied(students), 2) == 9.68)

#### Observe the variable student_names defined below.
 - Write a loop that will traverse students and add a key called 'student_name' to the record, populated with each of the values inside of student names by index order.

In [9]:
student_names = [
    'Jill', 
    'Mindy',
    'Kathy', 
    'Hussain', 
    'Priya', 
    'Jasmine', 
    'Abdul', 
    'Ren',
    'Lupita',
    'Patch',
    'Marwan',
    'Stacy',
    'Sylvia',
    'Bo',
    'Vivian',
    'Connor',
    'Hank',
    'Rocko',
    'Filbert',
    'Upton'
]

In [10]:
# plan of action:
# traverse the students list, add in a key called student_name that is equivalent (paired) to 
# the value associated within that index of student_names
#create loop over dict
#create iterator variable starting at zero
#create assign to new student_name key

In [11]:
# Write your loop here:
i = 0
for student in students:
    student['student_name'] = student_names[i]
    i += 1

In [12]:
assert([student['student_name'] for student in students] == student_names)

 - Write a function called `well_read` that will take in a list of dictionaries as an argument and return the name of the student who has studied the most.

In [13]:
#create function skeleton
#loop over list
#compare study(hours) to max value, which we can get from using previous helper function
#return student with study hours that match max value

In [14]:
# write your function in this cell:
def well_read(dict_to_check):
    most_read = 0
    for student in dict_to_check:
        if student['hours_studied'] == get_max_hours_studied(students):
            most_read = student['student_name']
    return most_read

In [15]:
well_read(students)

'Lupita'

In [16]:
# Extra fancy bonus:
# re-write well_read as a one-liner using list comprehension

In [17]:
assert(well_read(students) == 'Lupita')

 - What proportion of students that passed used flashcards? Store it as a percentage with one decimal place in a variable called `flash_success`

In [18]:
#need percentage of students that passed. we will use 70
#need percetnage of that value.

In [19]:
passed = 0
used_flash = 0
for student in students:
    if student['exam_score'] > 70:
        passed += 1
        if student['used_flashcards'] == True:
            used_flash += 1
            
passed # -- > 8
used_flash # -- > 4

4

In [20]:
# assign flash_success in this cell.
flash_success = round((used_flash / passed) * 100, 2)

In [21]:
assert(flash_success == 50.00)

#### Alright, time to break out pandas! üêº

 - Create a dataframe called `student_df` from the students variable that you have at this point.

In [22]:
import numpy as np
import pandas as pd

In [23]:
# create your DataFrame here.
student_df = pd.DataFrame(students)

 - Make a new column inside of `student_df` called `'classroom'` using the following code.  Keep your numpy random seed to 123.

In [24]:
np.random.seed(123)
classrooms = np.random.choice(['A', 'B'], len(student_df))

In [25]:
classrooms

array(['A', 'B', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'A', 'B', 'B', 'A',
       'B', 'A', 'B', 'A', 'B', 'B', 'A'], dtype='<U1')

In [26]:
# put the value of classrooms into your new column in this cell.
student_df['classroom'] = pd.Series(classrooms)

In [27]:
assert(list(student_df.classroom.values) == list(classrooms))

In [29]:
student_df.head()

,exam_score,hours_studied,used_flashcards,handedness,coffee_consumed,hours_slept,student_name,classroom
0,67.574374,8.478692,True,left,4,7,Jill,A
1,59.098398,5.773753,True,right,5,6,Mindy,B
2,40.235324,4.280227,True,left,6,5,Kathy,A
3,68.572847,8.204969,False,right,4,7,Hussain,A
4,78.890913,8.887383,False,right,3,8,Priya,A

 - Create a single groupby aggregation that will output the maximum and minimum exam scores and hours slept for every combination of classroom and handedness.

In [61]:
# write your aggregation in this cell:
student_df[['exam_score', 'hours_slept','classroom', 'handedness']].groupby(['classroom', 'handedness']).agg(['min', 'max'])

                      exam_score            hours_slept
                             max        min         max min
classroom handedness
A         left         99.628593  40.235324          10   5
          right        78.890913   1.697189           8   1
B         left        100.000000  48.317365          11   5
          right       100.000000  35.743657          11   4

 - Write a function called `best_rested_performer` that takes in a DataFrame and returns the name of the student in student_df that has the highest grade, that slept the most.
 
(hint: sort by exam score, then by hours slept, and make sure your function returns a string literal!)

In [65]:
student_df.sort_values(by=['exam_score', 'hours_slept'], ascending=False).head(1).student_name.astype(str)

10    Marwan
Name: student_name, dtype: object

In [76]:
test = student_df.sort_values(by=['exam_score', 'hours_slept'], ascending=False).head(1).student_name.values[0]

In [77]:
test

'Marwan'

In [82]:
# write your function in this cell:
def best_rested_performer (students):
    """
    """
    student = student_df.sort_values(by=['exam_score', 'hours_slept'], ascending=False).head(1).student_name.values[0]
    return student

In [83]:
assert(best_rested_performer(student_df)) == 'Marwan'

 - Utilize the following dictionary to create a new column called `'room_no'` that tells a student where they should be going.

In [85]:
classroom_location = {
    'A': 'Humanities Building, Room 204',
    'B': 'Business Building, Room 318',
    'C': 'Humanities Building, Room 113'
}

In [88]:
student_df['room_no'] = student_df.classroom.map(classroom_location)

In [89]:
student_df.head()

,exam_score,hours_studied,used_flashcards,handedness,coffee_consumed,hours_slept,student_name,classroom,room_no
0,67.574374,8.478692,True,left,4,7,Jill,A,"Humanities Building, Room 204"
1,59.098398,5.773753,True,right,5,6,Mindy,B,"Business Building, Room 318"
2,40.235324,4.280227,True,left,6,5,Kathy,A,"Humanities Building, Room 204"
3,68.572847,8.204969,False,right,4,7,Hussain,A,"Humanities Building, Room 204"
4,78.890913,8.887383,False,right,3,8,Priya,A,"Humanities Building, Room 204"

 - Write a function called `sleepy_goat_ratio` that takes in a DataFrame as an argument, that returns a one-decimal percentage value of the proportion of students that slept at least eight hours and passed the exam out of the entire class. Consider a grade of 70 as passing.

,exam_score,hours_studied,used_flashcards,handedness,coffee_consumed,hours_slept,student_name,classroom,room_no
4,78.890913,8.887383,False,right,3,8,Priya,A,"Humanities Building, Room 204"
5,99.628593,5.887577,True,left,1,10,Jasmine,A,"Humanities Building, Room 204"
6,71.537602,8.675529,True,right,3,8,Abdul,A,"Humanities Building, Room 204"
7,91.209319,7.794935,True,left,1,10,Ren,B,"Business Building, Room 318"
8,95.637086,9.677438,False,left,1,10,Lupita,B,"Business Building, Room 318"
10,100.000000,9.126291,False,left,0,11,Marwan,B,"Business Building, Room 318"
11,73.164623,5.887551,True,right,3,8,Stacy,B,"Business Building, Room 318"
17,100.000000,8.123731,False,right,0,11,Rocko,B,"Business Building, Room 318"

In [112]:
# write your function in this cell:
def sleepy_goat_ratio (students):
    """
    """
    count = len(student_df[(student_df['exam_score'] >= 70) * (student_df['hours_slept'] >= 8)])
    
    return count / len(student_df) * 100

In [111]:
assert(sleepy_goat_ratio(student_df) == 40.0)

AssertionError: